// COLORS
$primary:hsl(0, 93%, 68%);
$secondary:hsl(0, 36%, 70%);
$accent:hsl(0, 6%, 24%);
//LINEAR GRADIENTS
$gradient-one:linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
$gradient-two:linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
//GLOBAL FONT SIZE
$font-size:16px;
$bold:600;
$medium:400;
$thin:300;
//Devices Width
$mobile:600px;
$laptop:1440px;
$tablet:768px;
$laptop-sm:992px;

@import url("https://fonts.google.com/specimen/Josefin+Sans");

$font:'Josefin Sans',
sans-serif;

* {
    font-size: $font-size;
    font-family: $font;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    box-sizing: border-box;

}

body {
    width: 100%;
    min-height: 100vh;

}


//Container

.container {

    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;


    .left {

        background: url('../img/bg-pattern-desktop.svg') no-repeat;

        // background-size: cover;
        // object-fit: cover;
        flex: 2 2 60%;
        padding-top: 10em;
        display: flex;
        width: 100%;
        min-width: $mobile;
        height: auto;
        min-height: 100vh;
        flex-direction: column;
        // justify-content: space-between;
        // align-items:center;
        padding: 3em 15%;

        .top {

            .logo {
                background: url('../img/logo.svg') no-repeat;
                // background-size: cover;
                // object-fit: cover;
                height: 10vh;
                width: 35%;
                // width: 4rem;

            }

            margin-bottom: 2em;
        }

      


        .bottom {
            .title {
                text-transform: uppercase;

                h1.top-title {
                    font-size: 4rem;
                    font-weight: $thin;
                    letter-spacing: .7rem;
                    color: $secondary;

                }

                h1.bottom-title {
                    font-size: 3.5rem;
                    font-weight: $bold;
                    letter-spacing: .5rem;
                    color: $accent;
                }

                margin-bottom: 1.5rem;
            }

            //title-end
            p.description {
                color: $secondary;
                line-height: 1.9rem;
                margin-bottom: 2rem;
            }

            //description-end

            form.form {
                .form-top {
                    display: flex;
                    position: relative;
                    
                    input {
                        padding: .8rem 1.5rem;
                        width: 90%;
                        border: 1px solid $secondary;
                        outline: none;
                        border-radius: 3rem;
                        
                        &::placeholder {
                            color: $secondary;
                        }

                        &.err
                        {
                            border:2px solid $primary;
                        }
                    }
                    .error
                    {
                        
                        background: url('../img/icon-error.svg') no-repeat;
                        width:10%;
                        transform: scale(.8);
                        height: 5vh;
                        position: absolute;
                        top: .7rem;
                        right: 25%;
                        display: none;
                        // width: .6rem;
                        // height: 1.1rem;
                        // object-fit: cover;
                        // background-size: cover;
                        

                    }

                    button {
                        background: $gradient-two;
                        padding: 1rem 3%;
                        border: none;
                        width: 18%;
                        
                        border-radius: 3rem;
                        outline: none;
                        position: absolute;
                        bottom: -.1rem;
                        right: 5%;
                        box-shadow: -4px 4px 10px $secondary;
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        
                        align-items: center;
                        // transition: background .3s ease-in-out;
                        i.icon {

                            background: url('../img/icon-arrow.svg') no-repeat;
                            width: .6rem;
                            height: 1.1rem;
                            object-fit: cover;
                            background-size: cover;

                        }

                        &:hover {
                            box-shadow: -4px 4px 15px $secondary;
                            background: $primary;
                            // transition: background .3s ease-in-out;

                        }
                    }
                }

                .form-bottom {
                    .label-error
                    {
                        color:$primary;
                        display: none;
                        padding: .8rem 1.5rem;
                        h3
                        {
                            font-weight: $thin;
                        }
                       
                    }
                }
            }

            //form-end
        }
    }
        //left-end


        .right {

            flex:1 1 40%;
            background: url('../img/hero-desktop.jpg') no-repeat;
            height: 100vh;
            min-height: $mobile;
            width: 100%;
            background-size: cover;
            object-fit: cover;
        }
    
}

//mobile
// @media all and (max-width:$mobile) {
//     .container
//     {
//     flex-direction: column;
//     display: none;
//     font-size: 10px;
//     .left{
// order: 1;
// width:100%;
// // height: 60vh;
// .top{
// position: absolute;
// top:0;
// left:0;
// }
//     }
//     .right{
//         order: 0;
//         background: url('../img/hero-mobile.jpg') no-repeat;
//         width:100%;
//         height: 10vh;
      
//     }
// }
// }

//tablets
@media all and (max-width:$laptop-sm) {
    .container
    {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    width:100%;
    height: auto;
    // padding: 50% 0;
    // display: none;
    // font-size: 10px;
    .left{
        
        text-align: center;
order: 1;
width:100%;
padding:8rem;
padding-top: 2rem;
height: 60vh;
background-size: cover;
.top{
.logo{
    position: absolute;
    top: 4.5%;
    width: 30%;
    left:10%;
   
}


}
    
    //form-end

    }
    .right{
        
        order: 0;
        background: url('../img/hero-mobile.jpg') no-repeat;
        width:100%;
        height: auto;
        min-height: 70vh;
        margin-top: 17%;
       
       background-size: cover;
      
    }
}
}